.container {
  padding-top: 50px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container * {
  margin: 5px 0;
}
